@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-cc {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
